.abtContent {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.abtContent img {
    width: 300px;
    padding: 20px 0px;
}

.abtConImg{
    display: flex;
    justify-content: center;
}

.about-content h2{
    font-size: 24px;
    margin-bottom: 14px;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .abtContent img {
        width: 250px;
    }
}

@media screen and (max-width:360px) {
    .abtContent img {
        width: 200px;
    }
}
